# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
#*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
#*.a

# OSX files
*.DS_Store


# Android Studio Files
local.properties
bin/
out/
gen/
gradle/
.idea/
*.iml
*.iws
*.ipr

# Gradle Files
.gradle/

